In [1]:
# importation des modules
import pandas as pd
import numpy as np

In [2]:
# ouverture du fichier de travail
source = "HDR 2007-2008 Table 12.xlsx"
# read_excel est une fonction de pandas qui vous ouvrira un fichier Excel
# la "source" peut être n'importe où, soit dans un fichier local, soit dans une ressource en ligne distante
df = pd.read_excel(source)
# head imprimera les x premières lignes du fichier de données pour que nous puissions voir à quoi il ressemble
df.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,NaN,. . . to acquire knowledge . . .,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12 Literacy and enrolment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Tertiary students in science, engineering, man...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MDG,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,HDI rank,NaN,NaN,Adult literacy rate (% aged 15 and...,NaN,NaN,NaN,Youth literacy rate (% aged 15-24),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,1985-1994a,NaN,1995-2005b,NaN,1985-1994a,NaN,1995-2005b,...,1999-2005d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1,Iceland,NaN,..,NaN,..,NaN,..,NaN,..,...,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2,Norway,NaN,..,NaN,..,NaN,..,NaN,..,...,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Repositionner la ligne d'en-tête
df = pd.read_excel(source, header=1)
# https://stackoverflow.com/a/51794989
# Supprimez d'abord toutes les colonnes (axe=1) sans valeurs
df = df.dropna(how="all", axis=1)
# Supprimer toutes les lignes (axe=0) sans valeurs
df = df.dropna(how="all", axis=0).reset_index(drop=True)
df.head(15)

,Unnamed: 0,. . . to acquire knowledge . . .,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,12 Literacy and enrolment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tertiary students in science, engineering, man...",NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,MDG,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,MDG,NaN,NaN,NaN,NaN,NaN
3,HDI rank,NaN,Adult literacy rate (% aged 15 and...,NaN,NaN,NaN,Youth literacy rate (% aged 15-24),NaN,NaN,NaN,...,Net secondary enrolment ratec ...,NaN,NaN,NaN,Children reaching grade 5 ...,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,1985-1994a,NaN,1995-2005b,NaN,1985-1994a,NaN,1995-2005b,NaN,...,1991,NaN,2005,NaN,1991,NaN,2004,NaN,1999-2005d,NaN
5,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,Iceland,..,NaN,..,NaN,..,NaN,..,NaN,...,..,NaN,88,e,..,NaN,100,f,16,NaN
7,2,Norway,..,NaN,..,NaN,..,NaN,..,NaN,...,88,NaN,97,NaN,100,NaN,100,NaN,16,NaN
8,3,Australia,..,NaN,..,NaN,..,NaN,..,NaN,...,79,e,86,e,99,NaN,..,NaN,22,NaN
9,4,Canada,..,NaN,..,NaN,..,NaN,..,NaN,...,89,NaN,..,NaN,97,NaN,..,NaN,20,g
10,5,Ireland,..,NaN,..,NaN,..,NaN,..,NaN,...,80,NaN,88,NaN,100,NaN,100,e,23,g
11,6,Sweden,..,NaN,..,NaN,..,NaN,..,NaN,...,85,NaN,99,NaN,100,NaN,..,NaN,26,NaN
12,7,Switzerland,..,NaN,..,NaN,..,NaN,..,NaN,...,80,NaN,84,NaN,..,NaN,..,NaN,24,NaN
13,8,Japan,..,NaN,..,NaN,..,NaN,..,NaN,...,97,NaN,100,e,100,NaN,..,NaN,19,NaN
14,9,Netherlands,..,NaN,..,NaN,..,NaN,..,NaN,...,84,NaN,87,NaN,..,NaN,99,NaN,15,NaN

In [4]:
# Nous pourrions simplement fixer les colonnes, mais obtenons une liste des informations qui sont déjà là  
# et utilisons cela pour guider les nouveaux noms que nous devons inclure.
columns = []
for c in df.columns:
    # Pour chaque colonne, obtenir les valeurs des 5 premières lignes
    # puis conservez toutes les chaînes (c'est-à-dire excluez-les si elles sont nulles) et ajoutez-les en colonne
    columns.append([str(v) for v in df[c][:5] if pd.notnull(v)])
columns

[['12 Literacy and enrolment', 'HDI rank'],
 [],
 ['Adult literacy rate             (% aged 15 and older)', '1985-1994a'],
 [],
 ['1995-2005b'],
 [],
 ['MDG', 'Youth literacy rate             (% aged 15-24)', '1985-1994a'],
 [],
 ['1995-2005b'],
 [],
 ['MDG',
  'Net primary enrolment rate                                               (%)',
  '1991'],
 [],
 ['2005'],
 [],
 ['Net secondary enrolment ratec                                               (%)',
  '1991'],
 [],
 ['2005'],
 [],
 ['MDG',
  'Children reaching grade 5                                              (% of grade 1 cohort)',
  '1991'],
 [],
 ['2004'],
 [],
 ['Tertiary students in science, engineering, manufacturing and construction                                                    (% of tertiary students)',
  '1999-2005d'],
 []]

In [5]:
columns = [
    "HDI rank",
    "HDI level"
    "Country",
    "Adult_literacy_rate 1985-1994 (%)",
    "Reference 1",
    "Adult_literacy_rate 1995-2005 (%)",
    "Reference 2",
    "MDG_Youth_literacy_rate  1985-1994  (%)",
    "Reference 3",
    "MDG_Youth_literacy_rate 1995-2005 (%)",
    "Reference 4",
    "MDG_Net primary_enrol_rate_1991 (%)",
    "Reference 5",
    "MDG_Net primary_enrol_rate_2005 (%)",
    "Reference 6",
    "Net second_ enrol_rate 1991 (%)",   
    "Reference 7",
    "Net second_ enrol_rate 2005 (%)",   
    "Reference 8",
    "MDG_Child_reach_grade 5 _1991 (%)",
    "Reference 9",
    "MDG_Child_reach_grade 5 _2004 (%) ",
    "Reference 10",
    "Tertiary_stud_rate_1999-2005 (%)",
    "Reference 11"
]
# Réinitialiser les colonnes des cadres de données
df.columns = columns
# Supprimer les lignes qui contenaient les informations dont nous n'avons plus besoin
# et réinitialiser l'index
# np.arange(5) crée un tableau = [0, 1, 2, 3, 4, 5]
df = df.drop(np.arange(6), axis=0).reset_index(drop=True)
df.head(20)

,HDI rank,HDI levelCountry,Adult_literacy_rate 1985-1994 (%),Reference 1,Adult_literacy_rate 1995-2005 (%),Reference 2,MDG_Youth_literacy_rate 1985-1994 (%),Reference 3,MDG_Youth_literacy_rate 1995-2005 (%),Reference 4,...,Net second_ enrol_rate 1991 (%),Reference 7,Net second_ enrol_rate 2005 (%),Reference 8,MDG_Child_reach_grade 5 _1991 (%),Reference 9,MDG_Child_reach_grade 5 _2004 (%),Reference 10,Tertiary_stud_rate_1999-2005 (%),Reference 11
0,1,Iceland,..,NaN,..,NaN,..,NaN,..,NaN,...,..,NaN,88,e,..,NaN,100,f,16,NaN
1,2,Norway,..,NaN,..,NaN,..,NaN,..,NaN,...,88,NaN,97,NaN,100,NaN,100,NaN,16,NaN
2,3,Australia,..,NaN,..,NaN,..,NaN,..,NaN,...,79,e,86,e,99,NaN,..,NaN,22,NaN
3,4,Canada,..,NaN,..,NaN,..,NaN,..,NaN,...,89,NaN,..,NaN,97,NaN,..,NaN,20,g
4,5,Ireland,..,NaN,..,NaN,..,NaN,..,NaN,...,80,NaN,88,NaN,100,NaN,100,e,23,g
5,6,Sweden,..,NaN,..,NaN,..,NaN,..,NaN,...,85,NaN,99,NaN,100,NaN,..,NaN,26,NaN
6,7,Switzerland,..,NaN,..,NaN,..,NaN,..,NaN,...,80,NaN,84,NaN,..,NaN,..,NaN,24,NaN
7,8,Japan,..,NaN,..,NaN,..,NaN,..,NaN,...,97,NaN,100,e,100,NaN,..,NaN,19,NaN
8,9,Netherlands,..,NaN,..,NaN,..,NaN,..,NaN,...,84,NaN,87,NaN,..,NaN,99,NaN,15,NaN
9,10,France,..,NaN,..,NaN,..,NaN,..,NaN,...,..,NaN,99,NaN,96,NaN,98,f,..,NaN
10,11,Finland,..,NaN,..,NaN,..,NaN,..,NaN,...,93,NaN,95,NaN,100,NaN,99,NaN,38,NaN
11,12,United States,..,NaN,..,NaN,..,NaN,..,NaN,...,85,NaN,89,NaN,..,NaN,..,NaN,16,g
12,13,Spain,96.5,NaN,..,NaN,99.6,NaN,..,NaN,...,..,NaN,98,NaN,..,NaN,100,e,30,NaN
13,14,Denmark,..,NaN,..,NaN,..,NaN,..,NaN,...,87,NaN,..,NaN,94,NaN,93,NaN,18,NaN
14,15,Austria,..,NaN,..,NaN,..,NaN,..,NaN,...,..,NaN,..,NaN,..,NaN,..,NaN,24,NaN
15,16,United Kingdom,..,NaN,..,NaN,..,NaN,..,NaN,...,81,NaN,95,NaN,..,NaN,..,NaN,22,NaN
16,17,Belgium,..,NaN,..,NaN,..,NaN,..,NaN,...,87,NaN,97,NaN,91,NaN,..,NaN,17,NaN
17,18,Luxembourg,..,NaN,..,NaN,..,NaN,..,NaN,...,..,NaN,82,NaN,..,NaN,92,"e,f",..,NaN
18,19,New Zealand,..,NaN,..,NaN,..,NaN,..,NaN,...,85,NaN,91,NaN,..,NaN,..,NaN,17,NaN
19,20,Italy,..,NaN,98.4,NaN,..,NaN,99.8,NaN,...,..,NaN,92,NaN,..,NaN,100,NaN,24,NaN

In [6]:
# Ce fichier n'est pas accompagné d'un fichier de métadonnées distinct. Toutes les références et notes de bas de page  
# se trouvent littéralement au bas du fichier. Jetons un coup d'œil :
df.tail(30)

,HDI rank,HDI levelCountry,Adult_literacy_rate 1985-1994 (%),Reference 1,Adult_literacy_rate 1995-2005 (%),Reference 2,MDG_Youth_literacy_rate 1985-1994 (%),Reference 3,MDG_Youth_literacy_rate 1995-2005 (%),Reference 4,...,Net second_ enrol_rate 1991 (%),Reference 7,Net second_ enrol_rate 2005 (%),Reference 8,MDG_Child_reach_grade 5 _1991 (%),Reference 9,MDG_Child_reach_grade 5 _2004 (%),Reference 10,Tertiary_stud_rate_1999-2005 (%),Reference 11
169,168,Congo (Democratic Republic of the),..,NaN,67.2,NaN,..,NaN,70.4,NaN,...,..,NaN,..,NaN,55,NaN,..,NaN,..,NaN
170,169,Ethiopia,27.0,NaN,35.9,NaN,33.6,NaN,49.9,NaN,...,..,NaN,28,e,18,NaN,..,NaN,17,NaN
171,170,Chad,12.2,NaN,25.7,NaN,17.0,NaN,37.6,NaN,...,..,NaN,11,e,51,e,33,NaN,..,NaN
172,171,Central African Republic,33.6,NaN,48.6,NaN,48.2,NaN,58.5,NaN,...,..,NaN,..,NaN,23,NaN,..,NaN,..,NaN
173,172,Mozambique,..,NaN,38.7,NaN,..,NaN,47.0,NaN,...,..,NaN,7,NaN,34,NaN,62,NaN,24,NaN
174,173,Mali,..,NaN,24.0,NaN,..,NaN,..,NaN,...,5,e,..,NaN,70,e,87,NaN,..,NaN
175,174,Niger,..,NaN,28.7,NaN,..,NaN,36.5,NaN,...,5,NaN,8,NaN,62,NaN,65,NaN,..,NaN
176,175,Guinea-Bissau,..,NaN,..,NaN,..,NaN,..,NaN,...,..,NaN,9,e,..,NaN,..,NaN,..,NaN
177,176,Burkina Faso,13.6,NaN,23.6,NaN,20.2,NaN,33.0,NaN,...,..,NaN,11,NaN,70,NaN,76,NaN,..,NaN
178,177,Sierra Leone,..,NaN,34.8,NaN,..,NaN,47.9,NaN,...,..,NaN,..,NaN,..,NaN,..,NaN,8,NaN
179,Developing countries,NaN,68.2,n,77.1,n,80.2,n,..,n,...,..,NaN,53,n,..,NaN,..,NaN,..,NaN
180,Least developed countries,NaN,47.4,n,53.4,n,56.3,n,..,n,...,..,NaN,27,n,..,NaN,..,NaN,..,NaN
181,Arab States,NaN,58.2,n,69.2,n,74.8,n,..,n,...,..,NaN,59,n,..,NaN,..,NaN,..,NaN
182,East Asia and the Pacific,NaN,..,NaN,90.9,NaN,..,NaN,..,NaN,...,..,NaN,69,n,..,NaN,..,NaN,..,NaN
183,Latin America and the Caribbean,NaN,87.6,n,89.9,n,93.7,n,..,n,...,..,NaN,68,n,..,NaN,..,NaN,..,NaN
184,South Asia,NaN,47.6,n,59.7,n,60.7,n,76.4,n,...,..,NaN,..,NaN,..,NaN,..,NaN,..,NaN
185,Sub-Saharan Africa,NaN,54.2,n,59.3,n,64.4,n,..,n,...,..,NaN,26,n,..,NaN,..,NaN,..,NaN
186,Central and Eastern Europe and the CIS,NaN,97.5,NaN,99.1,NaN,..,NaN,..,NaN,...,..,NaN,84,n,..,NaN,..,NaN,..,NaN
187,OECD,NaN,..,NaN,..,NaN,..,NaN,..,NaN,...,..,NaN,87,n,..,NaN,..,NaN,..,NaN
188,High-income OECD,NaN,98.9,n,99.1,n,99.4,n,..,n,...,..,NaN,92,n,..,NaN,..,NaN,..,NaN
189,High human development,NaN,..,NaN,95.3,NaN,..,NaN,..,NaN,...,..,NaN,..,NaN,..,NaN,..,NaN,..,NaN
190,Medium human development,NaN,..,NaN,78.8,NaN,..,NaN,..,NaN,...,..,NaN,..,NaN,..,NaN,..,NaN,..,NaN
191,Low human development,NaN,43.5,NaN,55.5,NaN,55.9,NaN,68.4,NaN,...,..,NaN,..,NaN,..,NaN,..,NaN,..,NaN
192,High income,NaN,98.4,n,98.6,n,99.0,n,..,n,...,..,NaN,91,n,..,NaN,..,NaN,..,NaN
193,Middle income,NaN,82.3,n,90.1,n,93.1,n,..,n,...,..,NaN,70,n,..,NaN,..,NaN,..,NaN
194,Low income,NaN,51.5,n,60.8,n,63.0,n,..,n,...,..,NaN,40,n,..,NaN,..,NaN,..,NaN
195,World,NaN,76.4,n,82.4,n,83.5,n,..,n,...,..,NaN,59,n,..,NaN,..,NaN,..,NaN
196,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,a. Data refer to national literacy estimates f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,SOURCES\nColumns 1–4: UNESCO Institute for Sta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Déposer les lignes du bas des données que nous voulons conserver, jusqu'à la fin (défini comme len(df))
df = df.drop(np.arange(175,len(df)), axis=0).reset_index(drop=True)
df.tail(20)

,HDI rank,HDI levelCountry,Adult_literacy_rate 1985-1994 (%),Reference 1,Adult_literacy_rate 1995-2005 (%),Reference 2,MDG_Youth_literacy_rate 1985-1994 (%),Reference 3,MDG_Youth_literacy_rate 1995-2005 (%),Reference 4,...,Net second_ enrol_rate 1991 (%),Reference 7,Net second_ enrol_rate 2005 (%),Reference 8,MDG_Child_reach_grade 5 _1991 (%),Reference 9,MDG_Child_reach_grade 5 _2004 (%),Reference 10,Tertiary_stud_rate_1999-2005 (%),Reference 11
155,155,Gambia,..,NaN,..,NaN,..,NaN,..,NaN,...,..,NaN,45,"e,f",..,NaN,..,NaN,21,NaN
156,LOW HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,156,Senegal,26.9,NaN,39.3,NaN,37.9,NaN,49.1,NaN,...,..,NaN,17,e,85,NaN,73,NaN,..,NaN
158,157,Eritrea,..,NaN,..,NaN,..,NaN,..,NaN,...,..,NaN,25,NaN,..,NaN,79,NaN,37,NaN
159,158,Nigeria,55.4,NaN,69.1,h,71.2,NaN,84.2,h,...,..,NaN,27,NaN,89,NaN,73,"e,f",..,NaN
160,159,Tanzania (United Republic of),59.1,NaN,69.4,NaN,81.8,NaN,78.4,NaN,...,..,NaN,..,NaN,81,e,84,NaN,24,"e,g"
161,160,Guinea,..,NaN,29.5,NaN,..,NaN,46.6,NaN,...,..,NaN,24,e,59,NaN,76,NaN,34,NaN
162,161,Rwanda,57.9,NaN,64.9,NaN,74.9,NaN,77.6,NaN,...,7,NaN,..,NaN,60,NaN,46,f,..,NaN
163,162,Angola,..,NaN,67.4,NaN,..,NaN,72.2,NaN,...,..,NaN,..,NaN,..,NaN,..,NaN,18,NaN
164,163,Benin,27.2,NaN,34.7,NaN,39.9,NaN,45.3,NaN,...,..,NaN,17,e,55,NaN,52,NaN,..,NaN
165,164,Malawi,48.5,NaN,64.1,NaN,59.0,NaN,76.0,NaN,...,..,NaN,24,NaN,64,NaN,42,NaN,..,NaN
166,165,Zambia,65.0,NaN,68.0,NaN,66.4,NaN,69.5,NaN,...,..,NaN,26,e,..,NaN,94,f,..,NaN
167,166,Côte d'Ivoire,34.1,NaN,48.7,NaN,48.5,NaN,60.7,NaN,...,..,NaN,20,e,73,NaN,88,"e,f",..,NaN
168,167,Burundi,37.4,NaN,59.3,NaN,53.6,NaN,73.3,NaN,...,..,NaN,..,NaN,62,NaN,67,NaN,10,g
169,168,Congo (Democratic Republic of the),..,NaN,67.2,NaN,..,NaN,70.4,NaN,...,..,NaN,..,NaN,55,NaN,..,NaN,..,NaN
170,169,Ethiopia,27.0,NaN,35.9,NaN,33.6,NaN,49.9,NaN,...,..,NaN,28,e,18,NaN,..,NaN,17,NaN
171,170,Chad,12.2,NaN,25.7,NaN,17.0,NaN,37.6,NaN,...,..,NaN,11,e,51,e,33,NaN,..,NaN
172,171,Central African Republic,33.6,NaN,48.6,NaN,48.2,NaN,58.5,NaN,...,..,NaN,..,NaN,23,NaN,..,NaN,..,NaN
173,172,Mozambique,..,NaN,38.7,NaN,..,NaN,47.0,NaN,...,..,NaN,7,NaN,34,NaN,62,NaN,24,NaN
174,173,Mali,..,NaN,24.0,NaN,..,NaN,..,NaN,...,5,e,..,NaN,70,e,87,NaN,..,NaN

In [8]:
# Nous avons également un autre problème. Il existe trois catégories d'indice de développement humain, 
#définies arbitrairement comme suit:

# LOW HUMAN DEVELOPMENT pour HDI rank >= 155
# MEDIUM HUMAN DEVELOPMENT pour HDI rank >= 70
# HIGH HUMAN DEVELOPMENT pour tout le reste
# Nous devons supprimer ces lignes (car elles gênent les données de base) et les réaffecter à des colonnes.